{lib_dirs, ["deps"]}.
{erl_opts, [debug_info]}.
{clean_files, ["ebin/*.beam"]}.

{xref_checks, [exports_not_used, undefined_function_calls]}.
{deps, [
  {proper, "", {git,"git://github.com/manopapad/proper.git"}}
]}.

{ct_use_short_names, true}.

{erl_opts, [
  {platform_define, "^(18|19|2)+", support_new_time_api}
]}.
