{mode, max}.
%{mode, {rate, 1000}}.

{duration, 15}.

{concurrent, 8}.

{driver, basho_bench_driver_locker}.

{code_paths, ["../locker/ebin"]}.

{operations, [{set,1}, {get, 4}]}.

{key_generator, {partitioned_sequential_int, 5000000}}.

{value_generator, {fixed_bin, 1}}.

{setup_completed, false}.
