{mode, max}.
%{mode, {rate, 100}}.

{duration, 15}.

{concurrent, 8}.

{driver, basho_bench_driver_locker}.

{code_paths, ["../locker/ebin"]}.

{operations, [{get, 9}, {set,1}]}.

{key_generator, {partitioned_sequential_int, 100000000}}.

{value_generator, {fixed_bin, 1}}.

{masters, [{'localhost', 'a'}, {'localhost', 'b'}, {'localhost', 'c'}]}.
{w, 2}.
{replicas, [{'localhost', 'r1'}, {'localhost', 'r2'}, {'localhost', 'r3'}]}.
{start_nodes, true}.
